---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

# Publishes documentation to GitHub Pages
name: 'GitHub Pages Documentation'

# Note: The initial publish may fail, see the documentation here:
# https://github.com/peaceiris/actions-gh-pages
# Heading: First Deployment with GITHUB_TOKEN

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - 'main'
      - 'master'
      - '!update-devops-tooling'
    paths:
      - '**'
      - '!.github/**'
      - '!.*'
      - '!pdm.lock'
      - '!tox.ini'

permissions: {}

jobs:
  publish-docs:
    name: 'Publish Documentation'
    runs-on: 'ubuntu-latest'
    concurrency:
      group: "${{ github.workflow }}-${{ github.ref }}"
    permissions:
      # IMPORTANT: mandatory for documentation updates; used in final step
      contents: write
    env:
      GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    timeout-minutes: 12
    steps:
      # Harden the runner used by this workflow
      # yamllint disable-line rule:line-length
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: 'Checkout Repository'
        # yamllint disable-line rule:line-length
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: 'Set up Python'
        # yamllint disable-line rule:line-length
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'

      - name: 'Check documentation dependencies'
        id: docs-requirements
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/path-check-action@aa7dabfa92e50e31a0f091dd3e2741692e8dde07 # v0.1.5
        with:
          path: 'docs/requirements.txt'

      - name: 'Check for TOX configuration'
        id: tox-ini
        # yamllint disable-line rule:line-length
        uses: lfreleng-actions/path-check-action@aa7dabfa92e50e31a0f091dd3e2741692e8dde07 # v0.1.5
        with:
          path: 'tox.ini'

      - name: 'Install documentation dependencies'
        if: steps.docs-requirements.outputs.type == 'file'
        run: |
          # Install documentation dependencies
          echo "Installing documentation dependencies"
          pip --disable-pip-version-check install -r docs/requirements.txt
          echo "Documentation dependencies installed ✅"

      - name: 'Build documentation (tox/sphinx)'
        if: steps.tox-ini.outputs.type == 'file'
        run: |
          # Build documentation (tox/sphinx)
          pip --disable-pip-version-check install --upgrade tox
          tox -e docs
          echo "Tox documentation build ✅"

      - name: 'Publish documentation'
        if: success()
        # yamllint disable-line rule:line-length
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          publish_branch: 'gh-pages'
          # github_token: "${{ secrets.GITHUB_TOKEN }}"
          github_token: "${{ github.token }}"
          publish_dir: 'docs/_build/html/'
          keep_files: true
