---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2024 The Linux Foundation

name: "Standalone Linting [Verify] ⛔️"

# yamllint disable-line rule:truthy
on:
  # Not supported when workflow contains: amannn/action-semantic-pull-request
  # workflow_dispatch:
  pull_request:
    types: [opened, reopened, edited, synchronize]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  semantic-pull-request:
    name: "Semantic Pull Request"
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - name: "Validate pull request title"
        # yamllint disable-line rule:line-length
        uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5.5.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Requires the type to be capitlized, but accept any of the standard
          # types
          types: |
            Fix
            Feat
            Chore
            Docs
            Style
            Refactor
            Perf
            Test
            Revert
            CI
            Build
          validateSingleCommit: true
          validateSingleCommitMatchesPrTitle: true

  standalone-linting:
    name: "Verify"
    permissions:
      contents: read
    # yamllint disable-line rule:line-length
    uses: lfit/releng-reusable-workflows/.github/workflows/reuse-standalone-linting.yaml@1d327501514102db5018642036a974e79415ec5a # v0.2.8
